In [1]:
4%2

0

In [2]:
5%2

1

In [3]:
X=3
y=0

In [4]:
X+y

3

In [5]:
a='ddd'

In [6]:
b="dd"

In [7]:
a

'ddd'

In [8]:
b

'dd'

In [9]:
num=12 
name='pear'

In [12]:
print('my numbre is {one} and my name is {two}'.format(one=num,two=name))

my numbre is 12 and my name is pear

In [13]:
import numpy as np 
import pandas as pd

In [17]:
#List
[1,2,3]

[1, 2, 3]

In [18]:
my_list=['a','b','c']

In [20]:
my_list.append('d')

In [21]:
my_list

['a', 'b', 'c', 'd']

In [22]:
my_list[1:3]

['b', 'c']

In [23]:
my_list[0]='new'

In [24]:
my_list

['new', 'b', 'c', 'd']

In [25]:
nest=[1,2,[3,4]]

In [27]:
nest[2][1]

4

In [28]:
nest=[1,2,3,[4,5,['target']]]

In [29]:
nest[3]

[4, 5, ['target']]

In [31]:
nest[3][2][0]

'target'

In [32]:
d={'key1':'value','key2':123}

In [33]:
d['key1']

'value'

In [34]:
d['key2']

123

In [35]:
d={'k1':[1,2,3]}

In [36]:
mylist=d['k1']

In [37]:
mylist[0]

1

In [38]:
d={'k1':{'innerkey':[1,2,3]}}

In [39]:
d['k1']

{'innerkey': [1, 2, 3]}

In [40]:
d['k1']['innerkey']

[1, 2, 3]

In [41]:
d['k1']['innerkey'][0]

1

In [42]:
True
False

False

In [43]:
mylist=[1,2,3]

In [44]:
t=(1,2,3)

In [45]:
t[0]

1

In [46]:
mylist[0]='New'

In [47]:
mylist

['New', 2, 3]

In [48]:
t[0]='New'

TypeError: 'tuple' object does not support item assignment

In [49]:
{1,2,3}

{1, 2, 3}

In [50]:
{1,2,2,2,2,4,4,4,}

{1, 2, 4}

In [51]:
set([1,1,1,1,2,2,2,2,5,5,5,3,3,3,])

{1, 2, 3, 5}

In [52]:
s={1,2,3}

In [53]:
s.add(5)

In [54]:
s

{1, 2, 3, 5}

In [55]:
s.add(5)

In [56]:
s

{1, 2, 3, 5}

In [57]:
1>2

False

In [58]:
1<2

True

In [59]:
1>=2

False

In [60]:
1==1

True

In [61]:
1!=3

True

In [62]:
1<2 and 2<3

True

In [64]:
1<2 or 2>3

True

In [65]:
if 1<2:
    print('yep')

yep

In [67]:
if 1==2:
    print('first')
elif(3==3):
    print('med')
else:
    print('ast')

med

In [68]:
seq=[1,2,3,4,5]

In [69]:
for item in seq:
    print(item)

1
2
3
4
5

In [70]:
i=1
while(i<5):
    print('i is {}'.format(i))
    i=i+1

i is 1
i is 2
i is 3
i is 4

In [71]:
range(0,5)

range(0, 5)

In [72]:
for item in range(0,5):
    print(item)

0
1
2
3
4

In [73]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [74]:
x=[1,2,3,4]

In [75]:
out=[]
for num in x:
    out.append(num**2)

In [76]:
print(out)

[1, 4, 9, 16]

In [77]:
[num**2 for  num in x]

[1, 4, 9, 16]

In [78]:
out=[num**2 for  num in x]

In [79]:
out

[1, 4, 9, 16]

In [85]:
def my_func(name):
    print('Hello '+name)

In [86]:
my_func('pear')

Hello pear

In [88]:
def square(num):
    """
    
    jn,.m.,-.,ñ}{ñ}{ñ}
    """
    return num**2

In [90]:
output=(2)

In [91]:
output

2

In [92]:
def times2(var):
    return var**2

In [93]:
seq=[1,2,3,4,5]

In [95]:
list(map(times2,seq))

[1, 4, 9, 16, 25]

In [96]:
list(map(lambda num: num*3,seq))

[3, 6, 9, 12, 15]

In [97]:
list(filter(lambda num: num%2==0,seq))

[2, 4]

In [98]:
s='Hello qe'

In [99]:
s.lower()

'hello qe'

In [100]:
s.upper()

'HELLO QE'

In [101]:
s.split()

['Hello', 'qe']

In [102]:
tweet='Go Sports #Sports'

In [103]:
tweet.split()

['Go', 'Sports', '#Sports']

In [105]:
tweet.split('#')[1]

'Sports'

In [106]:
d={'k1':1,'k2':2}

In [107]:
d.keys()

dict_keys(['k1', 'k2'])

In [108]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [110]:
d.values()

dict_values([1, 2])

In [111]:
lst=[1,2,3]

In [112]:
lst.pop()

3

In [113]:
lst

[1, 2]

In [121]:
lst=[i+1 for i in range(5)]

In [122]:
lst

[1, 2, 3, 4, 5]

In [123]:
item=lst.pop()

In [124]:
lst

[1, 2, 3, 4]

In [125]:
item

5

In [126]:
first=lst.pop(0)

In [127]:
lst

[2, 3, 4]

In [128]:
first

1

In [129]:
lst.append('new')

In [130]:
lst

[2, 3, 4, 'new']

In [131]:
'x' in [1,2,3]

False

In [132]:
x=[(1,2),(3,4),(5,6)]

In [135]:
for (a,b) in x:
    print(a)
    print(b)

1
2
3
4
5
6